.centre{
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;
}

.submit{
    margin-left: 600px;
    padding: 10px 20px;
}

.box{
    text-align: center;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin-left: 430px;
    margin-top: 25px;
    
}